name: Build And Upload To GitHub
on: [push]
jobs:
  build_and_pack:
    name: Build and Package
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
      name: Check Out Source
    - name: Prepare repository
      run: |
        git checkout master
        git checkout $(echo "${GITHUB_REF}" | cut -d'/' -f3-)
    - name: Set Up .NET Core SDK
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.100
    - name: Install Tools
      run: |
        dotnet tool install -g --version 5.1.3 gitversion.tool
    - name: Generate Version Number
      run: |
        ~/.dotnet/tools/dotnet-gitversion /updateAssemblyInfo /output json | tee -a version.json
        echo "::set-env name=PackageVersion::$(cat version.json | jq -r .NuGetVersionV2)"
    - name: Run Build
      run: dotnet build -c Release
    - name: Pack NuGet (No Release Notes)
      run: |
        dotnet pack --include-symbols --no-build -c Release -o ./artifacts /p:SymbolPackageFormat=snupkg /p:Version=$PackageVersion /v:minimal
      if: "!startsWith(github.ref, 'refs/tags/')"
    - name: Pack NuGet (With Release Notes)
      run: |
        RELEASE_NOTES=$(curl https://api.github.com/repos/${{ github.repository }}/releases/tags/${GITHUB_REF##*/} | jq -r .body)
        echo $RELEASE_NOTES
        dotnet pack --include-symbols --no-build -c Release -o ./artifacts /p:SymbolPackageFormat=snupkg /p:Version=$PackageVersion /p:PackageReleaseNotes="${RELEASE_NOTES}" /v:minimal
      if: startsWith(github.ref, 'refs/tags/')
    - name: Upload Artifacts
      uses: actions/upload-artifact@v1
      with:
        name: NuGet Packages
        path: artifacts
  push_to_nuget:
    name: Push To NuGet
    runs-on: ubuntu-latest
    needs: build_and_pack
    if: startsWith(github.ref, 'refs/tags/')
    steps:
    - name: Download Artifacts
      uses: actions/download-artifact@v1
      with:
        name: NuGet Packages
    - name: Set Up .NET Core SDK
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.100
    - name: Push To NuGet
      run: >
        dotnet
        nuget
        push
        --api-key ${{ secrets.NUGET_API_KEY }}
        --Source https://api.nuget.org/v3/index.json
        ./NuGet\ Packages/*.nupkg
  push_to_gh:
    name: Push To GitHub Packages
    runs-on: ubuntu-latest
    needs: build_and_pack
    if: "!startsWith(github.ref, 'refs/tags/')"
    steps:
    - name: Download Artifacts
      uses: actions/download-artifact@v1
      with:
        name: NuGet Packages
    - name: Set Up .NET Core SDK
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.100
    - name: Install Tools
      run: |
        dotnet tool install -g --version 0.1.122 gpr
    - name: Push All Builds To CI Feed
      run: |
        find . -name '*.nupkg' -exec gpr push -k ${{ secrets.GITHUB_TOKEN }} {} \;
